* {
  margin: 0;
  padding: 0;
}
body {
  /* background:linear-gradient(rgba(255%,0%,0%,0.2), rgba(255%,0%,0%,0.2)) */
  background-color: black;
  /* background:linear-gradient(rgba(255%,0%,0%,0.2), rgba(255%,0%,0%,0.2)),
    url(/images/LRM_EXPORT_285282635040675_20190320_124547634.jpeg.jpg); */
}

.static {
  background-color: black;
  border-bottom: solid 2px rgb(55, 126, 224, 0.5);
  overflow: hidden;
  /* position: fixed; */
  width: 100%;
  height: 50px;
}
.static a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.static a:hover {
  background: #ddd;
  color: black;
}

.skills {
  margin-left: 20%;
  margin-top: 5%;
  color: white;
  margin-right: 20%;
}
.list li {
  position: relative;
  list-style: none;
  margin: 50px 0;
}
.list li::before {
  content: "";
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  width: 100%;
  height: 20px;
  background-color: rgb(55, 126, 224, 0.5);
  border-radius: 5px;
}
.list li::after {
  content: "";
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  width: 0;
  height: 20px;
  background-color: rgb(54, 126, 224, 5);
  border-radius: 5px;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.list li.html:after {
  animation-name: html;
}
@keyframes html {
  to {
    width: 90%;
  }
}
.list li.css:after {
  animation-name: css;
}
@keyframes css {
  to {
    width: 70%;
  }
}
.list li.js:after {
  animation-name: js;
}
@keyframes js {
  to {
    width: 50%;
  }
}
.list li.react:after {
  animation-name: react;
}
@keyframes react {
  to {
    width: 0%;
  }
}
@media screen and (max-width: 768px) {
  .skills {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .static a {
    font-size: 16px;
    padding: 5px;
    margin-top: 10px;
  }
}
