*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    background-color: black;
}

.dp img{
    /* vertical-align: middle; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 45%;
    top: 20%;
    border-color:red;
    
}
.logo img{
    position: relative;
    left: 40%;
    margin-top: 24%;
    padding: 10px;
    /* display: inline-block; */
}
.logo a{
    left: 20%;
    color: white;
    text-align: justify;
}
@media screen and (max-width: 768px) {
    .dp img{
        left: 30%;
    }
    .logo img{
        /* display: flex; */
        /* flex-direction: column; */ 
        /* padding: 20px; */
        margin-top: 0;
        left: 0%;        
        margin-top: 60%;
    }
    .logo{
        margin-top: 50%;
        text-align: center;
    }
    .logo a{
        color: white;
        width: 30%;
        

    }
    /* .linked-in {
        position: absolute;
        /* bottom: 20%; */
        margin-left: 22%;
        text-align: center;
        margin-top: 192px;
    } */

}