* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.static {
  background-color: black;
  border-bottom: solid 2px rgb(55, 126, 224, 0.5);
  overflow: hidden;
  /* position: fixed; */
  width: 100%;
  height: 50px;
}
.static a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.static a:hover {
  background: #ddd;
  color: black;
}

.dp img {
  /* vertical-align: middle; */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  left: 45%;
  top: 30%;
  border-color: red;
  object-fit: cover;
  margin-top: 8%;
  border: 5px solid rgb(55, 126, 224, 0.5);
}
.logo img {
  position: relative;
  left: 40%;
  margin-top: 12%;
  padding: 10px;
  /* display: inline-block; */
}
.logo a {
  left: 20%;
  color: white;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .dp img {
    left: 40%;
    margin-top: 70px;
  }
  .logo img {
    /* display: flex; */
    /* flex-direction: column; */
    /* padding: 20px; */
    margin-top: 50px;
    left: 2%;
    /* margin-top: 60%; */
  }
  .logo {
    margin-top: 50px;
    text-align: center;
    position: relative;
  }
  .logo a {
    color: white;
    width: 30%;
  }
}
@media screen and (max-width: 425px) {
  .logo img {
    left: 3%;
  }
  .dp img {
    left: 35%;
  }
}
