* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.static {
  background-color: black;
  border-bottom: solid 2px rgb(55, 126, 224, 0.5);
  overflow: hidden;
  /* position: fixed; */
  width: 100%;
  height: 50px;
}
.static a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.static a:hover {
  background: #ddd;
  color: black;
}

.galary {
  width: 100%;
  height: 100%;
  text-align: center;
}
.galary div{
  padding: 20px;

}
.galary img {
  height:300px;
  width: 600px;
}
.dropdown-menu{
  display: none;
}
@media screen and (max-width: 768px) {
  /* * {
    overflow: scroll;
  } */
  .static{
    display: none;
  }
  .dropdown-menu{
    background-color:black;
    color: white;
    /* padding-left: 20px; */
    border-bottom: 5px solid rgb(55, 126, 224, 0.5);
    /* box-shadow: 1px 2px 3px rgba(0,0,0,0.2); */
  display: block;
  /* position: sticky; */
  /* top: 0px; */
}

.menu ul{
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    /* float: right; */
    text-transform: uppercase;
  width: 20%;
  line-height: 5px;
   

}
.menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color:grey;
    font-weight: bold;
  
   
   
}
.dropdown-menu label{
    display: block;
    cursor: pointer;
    background: url(/images/icons8-pastel-64.png)  left center ;
    background-repeat: no-repeat;
    padding: 50px 100px 40px 40px;
   
    
}
input#menu-bar{
    display: none;
}
input:checked ~ label{
    background: url(/images/multiply.png) no-repeat left center;
}
.menu{
    height: 0;
    overflow: hidden;
   /* max-width: 300px;
   float: left 20%; */
}
input:checked ~ .menu{
    height: 100%;
}
.menu li:hover{
    color:black;
    /* display: block; */
    background:white;
    /* text-align: center; */
   
}
  .galary a {
    display: block;
    /* width: 100%; */
    height: 100%;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .galary img {
    width: 80%;
    height: 50%;
    overflow: hidden;
  }
  .galary {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    overflow: hidden;
    width: 100vw;
    margin-right: 0px;
    margin-left: 0px;
    /* padding: 20px; */
    text-align: center;
  }
}
